<div align="center">
    <h1>Add a value!</h1>
    <br/>

    <div>
        <div class="label"><label for="initialValue">Initial Value</label></div>
        <div class="input"><input type="text" name="initialValue" id="initialValue"/></div>
        <br/><br/></div>
    <div>
        <div class="label"><label for="addValue">Add This</label></div>
        <div class="input"><input type="text" name="addValue" id="addValue"/></div>
        <br/><br/></div>
    <div>
        <div class="input"><input type="submit"/></div>
        <br/><br/></div>
</div>
